body {
  background: linear-gradient(90deg, #273656, #aa2e4e);
  font-family: "Roboto", sans-serif;
}
.topic {
  border-radius: 10px;
  background: linear-gradient(#8bbca6, #fce8c8);
  width: 50%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.topic-body {
  margin-left: 1em;
  margin-right: 1em;
  font-size: large;
  text-align: center;
}
.topic-image {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.topic-heading {
  text-align: center;
  margin-left: 1em;
  line-height: 50px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  place-content: center;
}
