body {
  background: linear-gradient(110deg, #7e90be, #938ca6);
  font-family: "Roboto", sans-serif;
}
.topic {
  border-radius: 10px;
  background-color: #f6f7f5;
  border-style: groove;
  width: 50%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.topicbody {
  margin-left: 1em;
  margin-right: 1em;
  font-size: large;
}
.heading {
  text-align: center;
  margin-left: 1em;
  line-height: 50px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  place-content: center;
}
