body {
  background-image: url("images/background.png");
}
[class^="topic-"] {
  background-color: black;
  border-style: groove;
  width: 38em;
  color: lightblue;
}
.topicbody {
  margin-left: 1em;
  font-size: large;
}
.heading {
  text-align: center;
  margin-left: 1em;
  line-height: 50px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  place-content: center;
}
